# Cricbuzz RapidAPI Credentials
RAPIDAPI_KEY=YOUR_RAPIDAPI_KEY
RAPIDAPI_HOST=cricbuzz-cricket.p.rapidapi.com

# PostgreSQL Database Configuration
DB_HOST=ep-plain-truth-azvi9pzt.c-3.ap-southeast-1.aws.neon.tech
DB_NAME=neondb
DB_USER=neondb_owner
DB_PASSWORD=YOUR_NEON_PASSWORD
DB_PORT=5432
DB_SSLMODE=require
