# Cricbuzz RapidAPI Credentials
RAPIDAPI_KEY=YOUR_RAPIDAPI_KEY
RAPIDAPI_HOST=cricbuzz-cricket.p.rapidapi.com

# PostgreSQL Database Configuration
DB_HOST=localhost
DB_NAME=YOUR_DATABASE_NAME
DB_USER=YOUR_DATABASE_USERNAME
DB_PASSWORD=YOUR_DATABASE_PASSWORD
DB_PORT=5432